.card__image { 
    height: 413px;
    width: 100%; 
    object-fit: cover; 
    display: block; 
    border-radius: 8px; 
    margin-bottom: 12PX; 
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: poppins, Arial, Helvetica, sans-serif;
    } 

.card__title {
  margin: 0; /* Reset default margins */ 
  font-size: 20px; 
  font-weight: 500; /* Semi-bold for emphasis */
  color: #212121; /* Neutral dark color for readability */ 
  line-height: 120%; /* Tighter line spacing */ 
  text-align: left; /* Align text as per layout needs */
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
max-width: 300px;
  } 

.card__like-btn {
  background: url(../images/heart.svg) center/contain no-repeat;  
  width: 23px; 
  height: 20px;  
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  background-color: transparent;
  padding: 0;
  outline: none;
  opacity: 0.4; 
}

/* Optional hover/focus/active states */
.card__like-btn:hover {
  opacity: 1; 
  } 

@media screen and (max-width: 627px) { 
   .card__title{
    max-width: 250px;
    font-size: 16px;  
   } 

   .card__like-btn{
    width: 20px;
    height: 18px; 
   }


   .card__image {
        height: 288px; 
        } 
    
} 